* h1{
    font-family: 'Kaushan Script', cursive;  
}
* h3{
    font-family: 'Kaushan Script', cursive; 
}

.jumbotron{
    background-color:  black;
    color: white;
    font-size: 40px;
    font-style: italic;
    margin-top: 50px;
    width:auto;
    
}
.container{
    min-height: calc(100vh - 186px);
}
body{
    background: white;
    color: black;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 10px;
    
    text-align: center;
    color: white;
    
    min-width: 100%;
    
}
.footer-address-icon{
    padding-right: 10px;
}

.card-electro{

    flex: 1 250px;
    
    background: black;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px 15px 15px 15px;
    color: white;
    text-align: center;
    max-width: 250px;
    
}


.card-electro img{
    padding:5px 7px 5px 5px;
    border-radius: 5%;
    width:215px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background: rgb(19, 145, 204);
    color: white;
    font-family: 'Kaushan Script', cursive;
    
}
.table-icons{
    padding-left: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-item{
    width: 500px;
    height: 300px;
    bottom:10px;
}
.carousel-item img {
    position: absolute;
    top: 10px;
    left:10px;
    bottom:10px;
    max-height: 300px;
    object-fit:cover;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    background-color: black;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-color: black;
}