$yellow: #ffe600;
$red: #ff0000;
$green: #00ff55;

@mixin margenes($top,$bottom) {
    margin-top:$top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $yellow;
    color:black;
    margin-top:50px;
    @include margenes(50px,0px);
}
footer{
    padding: 10px 10px 0px 10px;
    background-color:$yellow;
    @include margenes(10px,10px);
    

}
.card-electro{
    flex: 1 200px;
    @include margenes(10px,0px);
   
}
.btn-reserva{
    width: 100%;
    border-radius:0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top:10px;
}
